.hero {
	width: 100%;
	min-height: calc(100vh - 80px); 
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.text {
	margin: 0 auto;
	font-size: 46px; // Увеличим размер шрифта для лучшей видимости
	font-weight: regular;
	color: #4f4f4f;
}
